@import "reset";
@import "variables";
@import "themes";

.app {
    background-color: var(--primary);
    font: var(--font);
    color: var(--secondary);
    min-height: 100vh;

    &-content {
        display: flex;
        height: calc(100vh - var(--header-height));

        .page-wrapper {
            flex-grow: 1;
            padding: 16px;
        }
    }
}
