:root {
    --dark-0: #3d4354;
    --dark-5: #242b37;
    --dark-10: #171a1f;
    --light-0: #f4f7ff;
    --blue-1: #7090ec;
    --blue-5: #3a5394;
    --blue-9: #0a228f;
    --gray-1: #f8f9fa;
    --gray-2: #e9ecef;
    --gray-3: #dee2e6;
    --gray-4: #ced4da;
    --gray-5: #adb5bd;
    --gray-6: #6c757d;
    --gray-7: #495057;
    --gray-8: #343a40;
    --gray-9: #212529;
    --danger-1: #ff140d;
    --ui-palette-1: #22223b;
    --ui-palette-2: #4a4e69;
    --ui-palette-3: #9a8c98;
    --ui-palette-4: #c9ada7;
    --ui-palette-5: #f2e9e4;
    --overlay-background: rgb(0 0 0 / 60%);
    --modal-background-color: var(--dark-10);
}
