:root {
  --dark-0: #3d4354;
  --dark-5: #242b37;
  --dark-10: #171a1f;

  --light-0: #f4f7ff;

  --blue-1: #7090ec;
  --blue-5: #3a5394;
  --blue-9: #0a228f;

  --gray-1: #F8F9FA;
  --gray-2: #E9ECEF;
  --gray-3: #DEE2E6;
  --gray-4: #CED4DA;
  --gray-5: #ADB5BD;
  --gray-6: #6C757D;
  --gray-7: #495057;
  --gray-8: #343A40;
  --gray-9: #212529;

  --danger-1: #ff140d;

  --ui-palette-1: #22223B;
  --ui-palette-2: #4A4E69;
  --ui-palette-3: #9A8C98;
  --ui-palette-4: #C9ADA7;
  --ui-palette-5: #F2E9E4;
}