.Button {
  cursor: pointer;

  &.Primary {
    padding: 2px 16px;
    background-color: var(--light-0);
    border-radius: 4px;
  }
}

.Clear {
  border: none;
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
}