.Clear {
    border: none;
    outline: none;
    margin: 0;
    padding: 0;
    background: none;
}

.Button {
    cursor: pointer;
}

.Primary {
    border: none;
    outline: none;
    margin: 0;
    padding: 2px 16px;
    border-radius: 4px;
    background-color: var(--button-background-color-primary);
}

.Secondary {
    border: none;
    outline: none;
    margin: 0;
    padding: 2px 16px;
    border-radius: 4px;
    background-color: var(--button-background-color-secondary);
}
