.AppHeader {
  background-color: var(--header-background-color);

  display: flex;
  align-items: center;
  gap: 32px;
  height: var(--header-height);
  padding: 0 32px;

  .Navbar {
    margin-left: auto;

    --app-link-default-color: var(--gray-1);
  }
}