.app.dark {
  --primary: var(--dark-0);
  --secondary: var(--light-0);

  --header-background-color: var(--dark-5);

  --app-link-default-color: var(--gray-1);
  --app-link-primary-color: var(--blue-1);
  --app-link-danger-color: var(--danger-1);
}