.app.light {
  --primary: var(--light-0);
  --secondary: var(--dark-0);

  --header-background-color: var(--dark-0);

  --app-link-default-color: var(--gray-9);
  --app-link-primary-color: var(--blue-9);
  --app-link-danger-color: var(--danger-1);
}