.AppLink {
    color: var(--app-link-default-color);
    text-decoration: none;

    &.primary {
        color: var(--app-link-primary-color);
    }

    &.danger {
        color: var(--app-link-danger-color);
    }
}
